.hero {

    min-height: 85vh;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 70px;

    padding: 80px 10%;

    background: #F5FAFD;
}

.hero-left {

    flex: 1;
}

.hero-left h1 {

    margin-bottom: 24px;

    color: #2D2F92;

    font-size: 4rem;

    font-weight: 900;

    line-height: 1.1;
}

.hero-left p {

    max-width: 520px;

    margin-bottom: 36px;

    color: #64748B;

    font-size: 1.15rem;

    line-height: 1.8;
}

.hero-btn {

    border: none;

    border-radius: 14px;

    padding: 16px 30px;

    background: #14A9E6;

    color: white;

    font-size: 17px;

    font-weight: 700;

    cursor: pointer;

    transition: 0.25s ease;
}

.hero-btn:hover {

    background: #2D2F92;

    transform: translateY(-3px);
}

.hero-right {

    flex: 1;

    display: flex;

    justify-content: center;
}

.hero-right img {

    width: 100%;

    max-width: 560px;

    border-radius: 28px;

    box-shadow:
        0 20px 60px rgba(0,0,0,0.15);
}

@media (max-width: 900px) {

    .hero {

        flex-direction: column;

        text-align: center;

        padding: 60px 24px;
    }

    .hero-left h1 {

        font-size: 2.7rem;
    }

    .hero-left p {

        margin-left: auto;

        margin-right: auto;
    }
}